////////////////////	 THEME 		////////////////////
/*	INSTRUCTIONS
*	1). Install the following:
*		(If you haven't used sass before here are some quick links:)
*	2). Bower Install
*/ 
///////////////////////////////////////////////////////




//////////// <Team-Block> ////////////
	$bg-color:;			//
	$img-radius:;		//
	$img-border:;		//


	// Team-Block uses a very light-weight version of Foundation 5 block-grid component.
	$team-members:;		// Defines the number of team member which effects how they RESPOND
		$mobile-bp:; 		//
		$tablet-bp:; 		//
		$desktop-bp:; 		//


	// Icon Colors
	$facebook-icon-c:;
	$twitter-icon-c:;
	$github-icon-c:;
	$linked-icon-c:;
////////////////////////////////////