////////////////////	 THEME 		////////////////////
/*	INSTRUCTIONS
*	1). Install the following:
*		(If you haven't used sass before here are some quick links:)
*	2). Bower Install
*/ 
///////////////////////////////////////////////////////
// <Social-Profile>
$bg-color:;



// <Exec-Profile>
$bg-color:;



// <Social-Profile>
$bg-color:;



// Icon Colors
$facebook-icon-c:;
$twitter-icon-c:;
$github-icon-c:;
$linked-icon-c:;
