////////////////////	 THEME 		////////////////////
//						NOTE !!! 
// 			If you use compass, 
// 			you MUST end watch and restart 
// 			OR it wont detect changes	
// 
/*	INSTRUCTIONS
*	1). Install the following:
*		(If you haven't used sass before here are some quick links:)
*	2). Bower Install
*/ 
///////////////////////////////////////////////////////




//////////// <Team-Block> ////////////
	// $bg-color:;			//
	$img-radius:50%;		//
	$img-border:4px solid #69708C;		//


	// Team-Block uses a very light-weight version of Foundation 5 block-grid component.
	// changes width % in team-block
			// $team-members:;		// Defines the number of team member which effects how they RESPOND
		$mobile-bp:50%; 		// 
		$tablet-bp:35%; 		//
		$desktop-bp:20%; 		//

	// ICON Styles
		// Icon Colors
		$icon-size:25px;
		// $social-icon-a:;			//
		$social-icon-b:black;		//
		// $social-icon-c:;			//
		$social-icon-d:red;			//

// Typography
	// $h4-size:30px;
	// $h4:;
	// $font-family: ;


////////////////////////////////////